<%=message%>
<form method="post" action="login">
  Please enter user name:
  <input type="text" name="username">
  Please enter password:
  <input type="password" name="password">
  <input type="submit" value="enter">
</form>