<center><h4><%=message%></h4>
<form method='post' action= 'math'>
<h1>Please pick the first number:
<input type='nubmer' name= 'num1'></h1>
<center><select name = 'op'>
  <option value="add">add</option>
  <option value="subtract">subtract</option>
  <option value="multiply">multiply</option>
  <option value="divide">divide</option>
</select></center></h1>
<h1>please pick the second number:
<input type='nubmer' name= 'num2'></h1></center>


<center><input type='submit'></center>
